::-webkit-scrollbar {
    display: none;
}

html {
  height: 100%;
}

body {
  height: 100%;
}

.nav {
  background-color: #FF3CAC;
  background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);
  width: 100%;
  height: 35px;
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
}

.box {
  border: none !important;
  box-shadow: none;
  border-radius: 0px;
}

.hidden {
  display: none;
}

.logo {
 float: left;
}
.logo-text {
    color: white !important;
    font-family: 'Yellowtail', cursive;
    font-size: 22px !important;
    padding-left: 5px;
}

.window-icons {
  margin: 5px;
  float: right;
  color: white !important;
  font-size: 18px !important;
}

.window-icons i {
  padding-left: 5px;
  padding-right: 5px;
}

.card-cont {
  width: 300px;
  display: inline-block;
  margin: 10px;
}

.card-cont:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.selection-container {
  text-align: center;s
}

.text-margin-8 {
  margin: 8px !important;
}

.margin-top-5 {
    margin-top: 5px !important;
}

.full-width{
  width: 98%;
}

.capital-header{
  color: #7a7a7a;
    font-size: 0.75em;
    letter-spacing: 0.1em;
    text-transform: uppercase
}

.spacer {
  margin: 10px !important;
}

.load-your-own-cont {
  text-align: center;
}

.left-pane {
  padding-right: 0px !important;
  width: 20%;;
  height: calc(100% - 35px);
  position: absolute;
  margin-bottom: 0px !important;
}

.workspace {
  position: relative;
  left: 20%;
  width: 60%;
  height: calc(100% - 35px);
  margin: 0px !important;
}

.right-pane {
  padding-left: 0px !important;
  width: 20%;;
  height: calc(100% - 35px);
  position: absolute;
  top: 35px;
  left: 80%;
}

.centered {
  text-align: center !important;
}

.tool-bar {
  position: absolute;
  width: 40px;
  text-align: center;
  left: 0px;
  top: 0px;
  background-color: #FF3CAC;
  background-image: linear-gradient(225deg, #2B86C5 0%, #784BA0 50%, #FF3CAC 100%);
  height: 100%;
  font-size: 22px;
  color: white;
}

.tool-specifics {
  padding-left: 40px;
}


/* ----- BEGIN TOOL BAR SPECIFIC STYLES */
.frame:hover {
  color: lightgrey;
}

.background:hover {
  color: lightgrey;
}

.screenshot:hover {
  color: lightgrey;
}

.notch:hover {
  color: lightgrey;
}

.text:hover {
  color: lightgrey;
}

.settings:hover {
  color: lightgrey;
}

.save:hover {
  color: lightgrey;
}

.effects:hover {
  color: lightgrey;
}

.back:hover {
  color: lightgrey;
}

.back {
  position: absolute;
  bottom: 0px;
  padding-left: 8px;
  padding-bottom: 3px;
  text-decoration: none;
  color: white;
}

.second-frame {
  z-index: 4;
}
/* ----- END TOOLBAR SPECIFIC STYLES ----- */


/* ----- SLIDER CSS BEGIN ---- */
.slider-cont {
  margin: 10px;
}

/* The slider itself */
.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #FF3CAC;
  cursor: pointer;
}
/* ----- SLIDER CSS END ----- */

/* ----- SWITCH CSS BEGIN ----- */
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider-switch {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider-switch:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider-switch {
  background-color: #FF3CAC;
}

input:focus + .slider-switch {
  box-shadow: 0 0 1px #FF3CAC;
}

input:checked + .slider-switch:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider-switch.round {
  border-radius: 34px;
}

.slider-switch.round:before {
  border-radius: 50%;
}
/* ----- SWITCH CSS END ----- */

/* PREVIEW STYLES BEGIN */
.workspace-cont {
  height: 100%;
  width: 100%;
  max-width: 100%;
  border: solid 1px lightgrey;
  margin: 0px auto;
  min-width: 20%;
}

.frame-cont {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
}

.frame-image {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.background-cont {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
  overflow: hidden;
}

.background-image {
  position: absolute;
  margin-right: -50%;
  z-index: 0;
  object-fit: cover;
  max-width: 200%;
}

.screenshot-image{
  position: absolute;
  z-index: 2;
}
/* PREVIEW STYLES END */

/* ----- RESIZER CSS BEGIN ----- */
.resize-cont{
  height: 100%;
  margin: 0 auto;
  max-width: 100%;
  position: relative;
}

.resize-left{
  height: 60px;
  width: 10px;
  position: absolute;
  left: -9px;
  z-index: 7;
  border-radius: 5px 0px 0px 5px;
  top: 47%;
  background: #FF3CAC;
}
/* ----- RESIZER CSS END ----- */
